body {
  height: 100vh;
}

.c-single-product {
  position: relative;
  min-height: 900px;
}
@media screen and (min-width: 576px) {
  .c-single-product {
    min-height: 480px;
  }
}
@media screen and (min-width: 768px) {
  .c-single-product {
    min-height: 470px;
  }
}
@media screen and (min-width: 992px) {
  .c-single-product {
    min-height: 282px;
  }
}
.c-single-product__content {
  background-color: #F9F9F9;
  padding: 10px 25px;
}
.c-single-product .c-card {
  margin-top: 17px;
}
.c-single-product__title {
  text-transform: uppercase;
  color: #c21b23;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-single-product__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .c-single-product__title {
    font-size: 24px;
  }
}

[data-carousel=single-product] .slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  [data-carousel=single-product] .slick-dots {
    position: relative;
    top: -30px;
  }
}
[data-carousel=single-product] .slick-dots button {
  border: 1px solid #c21b23;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  text-indent: -999999px;
  background: transparent;
}
[data-carousel=single-product] .slick-dots .slick-active button {
  background-color: #c21b23;
  border: 1px solid #c21b23;
}

.c-card {
  display: flex;
  gap: 37px;
  min-height: 180px;
  position: relative;
}
.c-card__item {
  max-width: 471px;
  width: 100%;
  background: #eeeef0;
  box-shadow: 0px 4px 8px #eeeef0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
  height: 218px;
  bottom: -223px;
  right: 50%;
  transform: translateX(50%);
}
@media screen and (min-width: 576px) {
  .c-card__item {
    flex-direction: row;
    bottom: -218px;
  }
}
@media screen and (min-width: 992px) {
  .c-card__item {
    bottom: auto;
    right: auto;
    transform: initial;
  }
}
.c-card__image {
  width: 100%;
  max-width: 219px;
}
.c-card__image img {
  display: block;
  max-width: 100%;
}
.c-card__description {
  margin-left: auto;
  margin-top: 20px;
  flex: 0 1 755px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #565a60;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .c-card__description {
    text-align: initial;
  }
}
.c-card__info {
  padding: 16px 14px 16px 11px;
}
.c-card__name {
  color: #2f3033;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.c-card__box {
  margin-top: 12px;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2f3033;
}
.c-card__code {
  font-size: 10px;
  color: #2f3033;
  font-weight: 400;
}
.c-card__stars {
  display: flex;
  gap: 3px;
}
.c-card__stars * {
  cursor: pointer;
}
.c-card__separator {
  background: #adb2bc;
  border-width: 0;
  height: 1px;
}
.c-card__price-container {
  margin-top: 6px;
  margin-bottom: 12px;
}
.c-card__price {
  display: block;
  color: #ff0033;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.c-card__points {
  display: block;
  font-size: 10px;
  line-height: 15px;
}
.c-card__button {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  padding: 9px 27px;
  border: 0;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 400;
  background: #71b842;
}
@media screen and (min-width: 992px) {
  .c-card__button {
    max-width: 198px;
  }
}
