$xl: 1366px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$white: #fff;
$black: #000;
$red-100: #fec4cf;
$red-200: #ff4066;
$red-400: #ff0033;
$red-600: #d8343c;
$red-800: #c21b23;
$blue-100: #b7e9fa;
$blue-200: #a0e7fe;
$blue-300: #5dd3fc;
$blue-400: #08a4d7;
$blue-500: #0d97c6;
$blue-600: #076280;
$blue-700: #064e67;
$blue-800: #01202b;
$green-100: #a0fe62;
$green-200: #89da53;
$green-400: #71b842;
$green-600: #619c3a;
$green-800: #3e6d1c;
$green-900: #375a20;
$gray-100: #fafafa;
$gray-150:#F9F9F9;
$gray-200: #eeeef0;
$gray-300: #ced1d7;
$gray-400: #adb2bc;
$gray-500: #83878e;
$gray-600: #565a60;
$gray-700: #2f3033;
$yellow-100: #fce289;
$yellow-400: #fdc300;
$yellow-600: #cb9d04;
$type-primary: "Roboto", sans-serif;
$type-secondary: "Inter", sans-serif;
