body {
  height: 100vh;
}

.c-slick-with-image {
  padding-top: 58px;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 35px;
}
@media screen and (min-width: 1366px) {
  .c-slick-with-image {
    flex-direction: row;
    align-items: flex-end;
  }
}
.c-slick-with-image__photo {
  width: 100%;
  max-width: 300px;
}
@media screen and (min-width: 768px) {
  .c-slick-with-image__photo {
    max-width: 510px;
  }
}
@media screen and (min-width: 992px) {
  .c-slick-with-image__photo {
    max-width: 467px;
  }
}
.c-slick-with-image__text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #076280;
  margin-top: 90px;
}
@media screen and (min-width: 768px) {
  .c-slick-with-image__text {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .c-slick-with-image__text {
    font-size: 24px;
    margin-top: unset;
  }
}
.c-slick-with-image__carousel {
  max-width: 320px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .c-slick-with-image__carousel {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .c-slick-with-image__carousel {
    max-width: 760px;
  }
}
.c-slick-with-image__item {
  display: flex;
  justify-content: center;
  margin-left: 45px;
}
@media screen and (min-width: 576px) {
  .c-slick-with-image__item {
    margin-left: unset;
  }
}
.c-slick-with-image__image {
  height: 464px;
  max-width: 230px;
  width: 100%;
}
.c-slick-with-image .slick-arrow {
  width: 15px;
  height: 30px;
}
.c-slick-with-image .slick-prev {
  background: url("../img/arrow-left.svg") no-repeat;
  left: -8px;
}
.c-slick-with-image .slick-next {
  background: url("../img/arrow-right.svg") no-repeat;
  right: -18px;
}
.c-slick-with-image .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.c-slick-with-image .slick-dots button {
  border: 1px solid #c21b23;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-indent: -999999px;
  background: transparent;
}
.c-slick-with-image .slick-dots .slick-active button {
  background-color: #c21b23;
}
