.c-line-banners {
  background: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-position-y: -60px;
}
.c-line-banners img {
  max-width: 100%;
}
.c-line-banners__carousel {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
.c-line-banners .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 576px) {
  .c-line-banners .slick-track {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .c-line-banners .slick-track {
    gap: 37px;
  }
}
.c-line-banners__item {
  width: 100% !important;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .c-line-banners__item {
    max-width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .c-line-banners__item {
    max-width: 384px;
  }
}
.c-line-banners .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.c-line-banners .slick-dots button {
  border: 1px solid #c21b23;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-indent: -999999px;
  background: transparent;
}
.c-line-banners .slick-dots .slick-active button {
  background-color: #c21b23;
}
